Seies Data Structure in Pandas

In [ ]:
import pandas as pd

In [2]:
#we make list and store its data in series form
a=[2,5,8,91,1]
var=pd.Series(a)
print(var)

0     2
1     5
2     8
3    91
4     1
dtype: int64

In [7]:
#to fimd wheather this series is pandas series or not
print(type(var))

<class 'pandas.core.series.Series'>

#change index of list and datat,ype
var1=pd.Series(a,index=['a','b','c','d','e'],dtype="float")
print(var1)

In [11]:
#to make series from sinle data,to make multiple values

s=pd.Series(12,index=[1,2,3,4,5])
print(s)

1    12
2    12
3    12
4    12
5    12
dtype: int64

In [12]:
#handle missing data
s1=pd.Series(12,index=[1,2,3,4,5,6,7])
s2=pd.Series(12,index=[1,2,3])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64