The join() function in pandas is used to merge two DataFrames based on their index or key columns, typically combining columns from both DataFrames, similar to SQL-style joins. In contrast, the append() function is used to vertically stack DataFrames by adding rows from one DataFrame to another. While join() is for merging data based on a common key or index, adding new columns, append() is for adding more records to an existing DataFrame by stacking rows. Each function serves distinct purposes: join() for aligning and merging columns, and append() for expanding the DataFrame with additional rows.

Join function

In [2]:
import pandas as pd
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]})
var2=pd.DataFrame({"C":[11,12,13,14],"D":[16,17,181,9]})
var1.join(var2)

   A  B   C    D
0  1  6  11   16
1  2  7  12   17
2  3  8  13  181
3  4  9  14    9

In [3]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]})
var2=pd.DataFrame({"C":[11,12],"D":[16,17]})
var1.join(var2)

   A  B     C     D
0  1  6  11.0  16.0
1  2  7  12.0  17.0
2  3  8   NaN   NaN
3  4  9   NaN   NaN

In [5]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]},index=['a','b','c','d'])
var2=pd.DataFrame({"C":[11,12],"D":[16,17]},index=['a','b'])
var1.join(var2)

   A  B     C     D
a  1  6  11.0  16.0
b  2  7  12.0  17.0
c  3  8   NaN   NaN
d  4  9   NaN   NaN

In [6]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]},index=['a','b','c','d'])
var2=pd.DataFrame({"C":[11,12],"D":[16,17]},index=['a','b'])
var2.join(var1)

    C   D  A  B
a  11  16  1  6
b  12  17  2  7

In [7]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]},index=['a','b','c','d'])
var2=pd.DataFrame({"C":[11,12],"D":[16,17]},index=['a','b'])
var2.join(var1,how="right")

      C     D  A  B
a  11.0  16.0  1  6
b  12.0  17.0  2  7
c   NaN   NaN  3  8
d   NaN   NaN  4  9

In [8]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]},index=['a','b','c','d'])
var2=pd.DataFrame({"C":[11,12],"D":[16,17]},index=['a','b'])
var2.join(var1,how="outer")

      C     D  A  B
a  11.0  16.0  1  6
b  12.0  17.0  2  7
c   NaN   NaN  3  8
d   NaN   NaN  4  9

In [9]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]},index=['a','b','c','d'])
var2=pd.DataFrame({"C":[11,12],"D":[16,17]},index=['a','b'])
var2.join(var1,how="right")

    C   D  A  B
a  11  16  1  6
b  12  17  2  7

In [14]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]},index=['a','b','c','d'])
var2=pd.DataFrame({"C":[11,12],"B":[16,17]},index=['a','b'])
var2.join(var1,how="inner",rsuffix='_12')

    C   B  A  B_12
a  11  16  1     6
b  12  17  2     7

Append

In [21]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]},index=['a','b','c','d'])
var2=pd.DataFrame({"C":[11,12],"B":[16,17]},index=['a','b'])
var1.append(var2)
#In pandas version 2.0.0 and later, the append() method has been removed/from the DataFrame class. To achieve the same functionality, you should use the pd.concat() function.

AttributeError: 'DataFrame' object has no attribute 'append'