Arithematic Operators

In [4]:
import pandas as pd
#Addition
var=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]})
var["C"]=var["A"]+var["B"]
print(var)

   A  B   C
0  1  6   7
1  2  7   9
2  3  8  11
3  4  9  13

In [5]:
#Subtraction
var=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]})
var["C"]=var["A"]-var["B"]
print(var)

   A  B  C
0  1  6 -5
1  2  7 -5
2  3  8 -5
3  4  9 -5

In [6]:
#Multiplication
var=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]})
var["C"]=var["A"]*var["B"]
print(var)

   A  B   C
0  1  6   6
1  2  7  14
2  3  8  24
3  4  9  36

In [7]:
#Divion
var=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]})
var["C"]=var["A"]/var["B"]
print(var)

   A  B         C
0  1  6  0.166667
1  2  7  0.285714
2  3  8  0.375000
3  4  9  0.444444

In [15]:
#modulus
var=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]})
var["C"]=var["B"] % var["A"]
print(var)

   A  B  C
0  1  6  0
1  2  7  1
2  3  8  2
3  4  9  1

In [12]:
#logical
var1=pd.DataFrame({"A":[20,21,33,42],"B":[6,11,12,3]})
var1["Result"]=var1["A"] <=30
print(var1)

    A   B  Result
0  20   6    True
1  21  11    True
2  33  12   False
3  42   3   False