In [2]:
#read CSV

In [3]:
import pandas as pd

In [4]:
#Read any csv file
csv_1=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv")

In [5]:
csv_1

   1  2  3
0  1  5  2
1  2  6  3
2  3  7  4
3  4  8  1

In [6]:
#access any row of csv file
csv_1=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",nrows=1)
csv_1
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [7]:
#access any rows of csv file
csv_2=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",nrows=3)
csv_2

   1  2  3
0  1  5  2
1  2  6  3
2  3  7  4

In [8]:
#access any colomns of csv file
csv_3=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",usecols=[1])
csv_3

   2
0  5
1  6
2  7
3  8

In [12]:
#skip any rows of csv file using skip function
csv_3=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",skiprows=[0,1])
csv_3

   2  6  3
0  3  7  4
1  4  8  1

In [13]:
#amke any colmn of csv file as index 
csv_3=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",index_col=2)
csv_3

   1  2
3
2  1  5
3  2  6
4  3  7
1  4  8

In [14]:
#make any row as header
csv_3=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",header=2)
csv_3

   2  6  3
0  3  7  4
1  4  8  1

In [21]:
#make heading
csv_4=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",names=["col1","col2","col3"])
csv_4

   col1  col2  col3
0     1     2     3
1     1     5     2
2     2     6     3
3     3     7     4
4     4     8     1

In [22]:
#to remove header and make header
csv_3=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",header=None)
csv_3

   0  1  2
0  1  2  3
1  1  5  2
2  2  6  3
3  3  7  4
4  4  8  1

In [25]:
#make new  header
csv_3 = pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv")
csv_3 = csv_3.add_prefix('col_')
csv_3

   col_1  col_2  col_3
0      1      5      2
1      2      6      3
2      3      7      4
3      4      8      1

In [31]:
#to change datatype of col
csv_5=pd.read_csv("C:\\Users\\PMYLS\\5.create_csv_file.csv",dtype={"2":"float"})
print(type(csv_5))
csv_5

<class 'pandas.core.frame.DataFrame'>

   1    2  3
0  1  5.0  2
1  2  6.0  3
2  3  7.0  4
3  4  8.0  1